# ==========================================
# Dependencies
# ==========================================
node_modules
.pnp
.pnp.js

# ==========================================
# Env Files
# ==========================================
.env
!.env.example

# ==========================================
# Turbo
# ==========================================
.turbo

# ==========================================
# Build Outputs
# ==========================================
dist
build
out
.next

# ==========================================
# Vite
# ==========================================
vite.config.ts.timestamp-*

# ==========================================
# Expo / React Native
# ==========================================
.expo
.expo-shared
android/.gradle
android/app/build
android/build
ios/build
ios/Pods

*.apk
*.aab
*.ipa

# ==========================================
# React Native Metro
# ==========================================
.metro-health-check*

# ==========================================
# Logs
# ==========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# IDE
# ==========================================
.vscode
.idea

# ==========================================
# Coverage
# ==========================================
coverage

# ==========================================
# Temporary
# ==========================================
tmp
temp
.cache

# ==========================================
# Database Dumps
# ==========================================
# database/dumps/*.sql
# database/dumps/*.zip

# ==========================================
# Sequelize / Nest Uploads
# ==========================================
apps/api/uploads/donation-receipts/
storage

# ==========================================
# Cloudflare R2 Local Files
# ==========================================
*.pem
*.key
service-account.json

# ==========================================
# Prisma
# ==========================================
prisma/dev.db
prisma/dev.db-journal

# ==========================================
# Mac
# ==========================================
.AppleDouble
.LSOverride

# ==========================================
# Android Studio
# ==========================================
local.properties
.cxx

# ==========================================
# Xcode
# ==========================================
DerivedData
xcuserdata
*.xcworkspace