PORT=3000
NODE_ENV=development
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

SENTRY_DSN="https://2519daaf937d66c9e1521ad9dad395e7@o4511608165040128.ingest.us.sentry.io/4511608168120320"